<section class="container">
  <app-header></app-header>
  <div class="rowd">
    <h3 class="start"> Tus Libros </h3>
    <button [routerLink]="['/books','add-books']" id="btnAdd" class="end">Agregar Libro</button>
  </div>
  <div class="rowd">
    <form autocomplete="off">
      <input [formControl]="search"
             type="text"
             placeholder="Ej. Angular, React"
             class="start">

    <select id="btnSelect" class="end"  [formControl]="category">
      <option selected> Seleccione...</option>
      <option (click)="filterByCategory(categorie.description)"
              [innerHTML]="categorie.description"
              *ngFor="let categorie of (categories$ | async)"
              [value]="categorie.id"
      ></option>
    </select>
    </form> 
  </div>
  <div *ngIf="errorMsg" class="alertDanger">
    No se encontró el Libro
  </div>
  <div class="row" id="containerBooks">
    <div *ngFor="let item of (books$ | async)" class="col-2">
      <!-- consultar: como sanitizar urls en angular, para evitar url maliciosas -->
      <div class="col"><img [routerLink]="['/books',item.id]" appImgBroke [src]="item.image" alt="imagen"></div>
    </div>
  </div>
</section>
