.rowd{
  display: inline-flex;
  justify-content: space-between;
  padding: 10px 0px;
  width  : 100%;
}
#btnAdd{
  background-color: lightsteelblue;
  color: rgb(29, 8, 122);
  border: none;
  border-radius: 3px;
  width: 160px;
  font-size: 15px;
  font-weight: bold;
}
// .container{
//   display: flex;
//   flex-direction: column;
//   width: 1000px;
//   height: 1000px;
//   margin: 0 auto;
//   background-color: white;
//   border-radius: 3px;
//   color: #2F2F2F;
//   padding: 20px;
//   font-size: 0.9em;
// }
form{
  box-shadow: none;
  width: 950px;
  padding: 0%;
}

@media screen and (max-width: 600px) {
//   .container{
//     display: flex;
//     flex-direction: column;
//     width: 300px;
//     height: 800px;
//     margin: 0 auto;
//     background-color: white;
//     border-radius: 3px;
//     color: #2F2F2F;
//     padding: 20px;
//     font-size: 0.9em;
//   }
  .rowd{
    display:inline-flex;
    justify-content: space-between;
    padding: 10px 0px;
    width  : 300px;
  }
  #btnSelect{
   width: 150px;
  }

 }

