.alertDanger {
  color: rgb(249, 8, 8)
}

.containerBtns {
  display: inline-flex;
  padding: 10px 0px;
  justify-content: space-between;
  width: 260px;
  margin: 0 6.1%;
}


input{
  width: 260px;
}
#idButton {
  background: rgb(255, 230, 0);
  color: rgb(29, 8, 122);
  border-radius: 5px;
  border: none;
  width: 140px;
  margin-left: 5%;

}
