<ng-container>
    <section id="container">
    <div>
        <h1>Iniciar Sesión</h1>
    </div>
    <div class="containerInputs">
              <form [formGroup]="form" (submit)="sendLogin(form.value)" class="formLogin">
                <label for="idInput">Nombre de Usuario</label>
            <input formControlName="username" type="text" id="idInput" placeholder="Ej. name@example.com">
            <label for="idpassword">Contraseña</label>
            <input formControlName="password" type="password" id="idpassword" placeholder="****">       
            <div class="containerBtns">
                <a id="registerRef" routerLink="register">Registrate aquí</a>
                <input  type="submit" size="large" id="idButton" value="Iniciar Sesión">
            </div>
        </form>
    </div>
</section>
</ng-container>