#btnCancel{
  background-color: lightsteelblue;
  color: rgb(29, 8, 122);
  border: none;
  border-radius: 3px;
  width: 140px;
  font-size: 15px;
  font-weight: bold;
  margin-right: 2%;
  padding: 0;
}
#btnRegister{
  background: rgb(255, 230, 0);
  color: rgb(29, 8, 122);
  border-radius: 5px;
  border: none;
  font-size: 12px;
  width: 140px;
  padding: 5px;
  float: right;
  padding: 0;

}
.categorieSection{
  display: flex;
  flex-direction: column;
  margin: 1% 0;

}
