<section class="containerP">
  <div id="pageHeader">
    <app-header></app-header>
  </div>
  <div id="mainPrivate">
    <div class="row-rigth">
      <h3 class="col"> Tus libros </h3>
      <div class="container">
        <div class="row-left"
             id="bookimage"
             *ngFor=" let item of  (books$ | async)">
          <img id="imagePrivate" 
          appImgBroke 
          [routerLink]="['/books', item.id]" 
          alt="imagen">
        </div>
      </div>
      <button routerLink="private-library" 
      id="btnShowMore" 
      class="col">Ver más</button>
    </div>
  </div>

  <section class="container">
    <div class="row">
      <div  id="mainPublic" class="col-4">
        <form autocomplete="off">
          <input [formControl]="search"
                 type="text"
                 placeholder="Ej. Angular, React"
                 class="start">
        </form>
      </div>
      <div id="pageCategory">
        <div class="col-4" id="conatinerBooks">
          <div *ngFor="let book of publicListOfBooks " class="col-2">
            <!-- consultar: como sanitizar urls en angular, para evitar url maliciosas -->
            <div class="col"><img appImgBroke [src]="book.image" alt="imagen"></div>
          </div>
        </div>
      </div>
      </div>
  </section>
</section>
