
<form>
  <h1>Registro Libro</h1>
  <label>Nombre del libro</label>
  <input formControlName="title" type="text">
  <small class="alertDanger" *ngIf="title.touched && title.hasError('required')" >
    campo es requerido
  </small>
  <label>Url del Libro</label>
  <input formControlName="url" type="text">
  <small class="alertDanger" *ngIf="title.touched && title.hasError('required')" >
    campo es requerido
  </small>
  <label>Resumen del libro</label>
  <input formControlName="resume" type="text" placeholder="Ej...">
  <small class="alertDanger" *ngIf="title.touched && title.hasError('required')" >
    campo es requerido
  </small>
  <label>Nombre del autor</label>
  <input formControlName="author" type="text" placeholder="Ej. Tata Gómez">
  <small class="alertDanger" *ngIf="title.touched && title.hasError('required')" >
    campo es requerido
  </small>
  <label>Imagen de portada</label>
  <input formControlName="image" type="text" placeholder="Ej. https://imagen/portada/img">
  <small class="alertDanger" *ngIf="title.touched && title.hasError('required')" >
    campo es requerido
  </small>
  <label>Publicar</label>
  <input formControlName="public" type="checkbox" >
  <small class="alertDanger" *ngIf="title.touched && title.hasError('required')" >
    campo es requerido
  </small>
  <div *ngFor="let control of categories; let i = index;" id="align">
    <label class="checkboxLabel" for="checkbox{{i}}">{{categories[i]}}</label>
    <input (change)="getSelectedCategoriesValue()"
           type="checkbox"
           class="checkbox"
           id="checkbox{{i}}"
           value=" ">
  </div>
<!--  <small class="alertDanger" *ngIf="categororyErrors && checkCategoriesControlTouched()">-->
<!--    Debe seleccionar al menos 1 categoría</small>-->


  <div>
    <button>
      Cancelar
    </button>
    <button>
      Registrar
    </button>
  </div>
</form>
