<div class="containerCategories">
    <h1>Categorias</h1>
    <div class="align">
        <label for="anime">Anime</label>
        <input type="checkbox" id="anime" name="Anime">
    </div>
    <div class="align">
        <label for="sciFy">Ciencia Ficción</label>
        <input type="checkbox" id="sciFy" name="Anime">
    </div>
    <div class="align">
        <label for="novels">Novelas</label>
        <input type="checkbox" id="novels" name="Anime">

    </div>
    <div class="align">
        <label for="dramas">Dramas</label>
        <input type="checkbox" id="dramas" name="Anime">
    </div>
    <div class="align">
        <label for="iA">Inteligencia artificial</label>
        <input type="checkbox" id="iA" name="Anime">
    </div>
    <p class="alertDanger"></p>
</div>
