/* You can add global styles to this file, and also import other style files */
body{
  background-color: white;
  font-family: "monospace";
}
form{
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  background-color: white;
  border-radius: 3px;
  color: #2F2F2F;
  padding: 20px;
  box-shadow: 0px 0px 5px 1px #999;
  font-size: 0.9em;
}
h3{
  color: black;
}
input, textarea{
  outline: none;
  border: 0;
  width: 280px;
}
input{
  border: solid 1px #ccc;
  padding: 5px;
  border-radius: 3px;
}
input:focus{
  border-color: #999;
}
label{
  margin-top: 5%;
}
.alertDanger {
  color: rgb(249, 8, 8)
}
.containerBtns {
  display: inline-flex;
  justify-content: space-between;
  padding: 10px 0px;
  width  : 280px;
}
.checkbox {
  width : 96px;
  height: 14px;
}

.checkboxLabel {
  width: 140px;
  margin-top:0;
}
#btnSelect{
  background-color: white;
  border-radius: 3px;
  border: 1px solid #ccc;
}
img{
  width: 100px;
  height: 100px;
}
#conatinerBooks{
  width: 950px;
  height: 100%;
  padding: 10%;

}

